@media (max-width: 550px) {
    .boostYourLinks {
        padding: 30vw 0vw;
    
        .boostYourLinksTitle {
            margin-bottom: 5vw;
            font-size: 26px;
            font-weight: 600;
        }
    
        .boostYourLinksButton {
            width: 54vw;
            padding: 4vw 0vw;
            font-size: 20px;
        }
    }
}