@media (max-width: 550px) {
    .footer {
        background: #232027;
        display: flex;
        flex-direction: column;
        padding: 16vw 0vw;
        justify-content: center;
    
        .logoFooterContainer {
            display: flex;
            flex-direction: row;
            margin: auto;
            width: 120px;
    
            .logoSVG {
                scale: 1;
    
                .logoFooter {
                    scale: 1;
                }
            }
        }
        
        .footerInfo {
            display: flex;
            flex-direction: column;
            justify-content: end;
    
        
            .footerSection {
                display: flex;
                flex-direction: column;
                margin: 0vw 1vw;
        
                .footerTitle {
                    display: flex;
                    flex-direction: row;
                    // color: #fffeff;
                    // list-style: none;
                    margin: 10vw auto 5vw auto;
                    font-size: 16px;
                    font-weight: 600;
                }
        
                .footerItem {
                    display: flex;
                    flex-direction: row;
                    color: #9f9da2;
                    list-style: none;
                    margin: 1.8vw auto;
                    font-size: 15px;
                    cursor: pointer;
                    transition: .2s;
                }
    
                .footerItem:hover {
                    color: #22cfcd;
                    transition: .2s;
                }
            }
        
            .footerSocialMedia {
                display: flex;
                flex-direction: row;
                height: auto;
                margin: 10vw auto 0vw auto;
    
                .socialMediaSVG {
                    margin: 1vw 3vw;
                    height: 24px;
                    width: 24px;
        
                    .footerSocialMediaItem {
                        scale: 1;
                        margin: 1vw;
                        transition: .2s;
                    }
                }
            }
        }
    }
    
    
}