@media (max-width: 540px) {

    .subtitleContainer {
        display: flex;
        flex-direction: row;
        margin: 0px 40px;
        padding: 0px;
    
        .subtitleWordContainer {
            .subtitle {
                font-size: 24px;
                margin: 0px;
                padding: 0px;
                font-weight: 400;
                color: #363636;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
    
        .subtitleBar {
            display: flex;
            flex-direction: column;
            margin: auto auto auto 10px;
            height: .5px;
            background: #66666670;
            width: 100%;
        }
    }

    .subtitleContainerWhite {
        background: #ffffff;
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px 40px;
    
        .subtitleWordContainer {

            .subtitle {
                font-size: 24px;
            }
        }
    }
    
    .button {
        border: .5px solid #363636;
        padding: 3vw 6vw;
        display: flex;
        flex-direction: row;
        border-radius: 1.6vw;
        width: fit-content;
        font-size: 4vw;
        cursor: pointer;
        margin: auto;
        -webkit-box-shadow: -1px 10px 39px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: -1px 10px 39px 1px rgba(0,0,0,0.2);
        box-shadow: -1px 10px 39px 1px rgba(0,0,0,0.2);
    }
    
    .smallButton {
        border: .5px solid #363636;
        padding: .6vw 1.2vw;
        display: flex;
        flex-direction: row;
        border-radius: .4vw;
        width: fit-content;
        font-size: .8vw;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        margin: auto;
        -webkit-box-shadow: -1px 10px 39px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: -1px 10px 39px 1px rgba(0,0,0,0.2);
        box-shadow: -1px 10px 39px 1px rgba(0,0,0,0.2);
    }
    
    .greenButton {
        background: #19c828;
    }
    
    .darkGrayButton {
        background: #2e2e2e;
        color: #fcfcfc;
        transition: .2s;
    }
    
    .darkGrayButton:hover {
        background: #d4d4d4;
        color: #2e2e2e ;
        transition: .2s;
    }
    
    .lightGrayButton {
        background: #ebebeb;
        color: #2b2b2b;
        transition: .2s;
    }
    
    .lightGrayButton:hover {
        background: #9e9e9e;
        color: #2e2e2e ;
        transition: .2s;
    }
    
    .blueButton {
        background:#3479ea;
        color: #fcfcfc;
        transition: .2s;
    }
    
    .blueButton:hover {
        background: #0015ff;
        color: #fcfcfc;
        transition: .2s;
    }
    
    
    
    .pinkButton {
        background: #FB2576;
        color: #fcfcfc;
        transition: .2s;
    }
    
    .pinkButton:hover {
        background: #d20050;
        transition: .2s;
    }
    



    .goDownContainer {
        display: none;
        flex-direction: row;
        margin: 5vw auto;

        .goDown {
            display: flex;
            flex-direction: row;
            margin: 0vw auto;
            width: 7vw;
            border-radius: 6vw;
            padding: 2vw;
        }
    }
}
