@media (max-width: 550px) {
    .navigation {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 10vw 0vw;
        justify-content: space-between;
        background: #ffffff; 
        width: 80%;
    
        .logoContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 2vw 0vw;
            padding: 0vw;
    
            .linkLogo {
                display: flex;
                flex-direction: column;
                margin: auto;
    
                .logoImage {
                    height: 32px;
                }
            }
        }
    
        .menuContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0vw;
            padding: 0vw;
    
            .menuOptions {
                display: none;
                flex-direction: row;
                justify-content: flex-end;
                margin: .4vw 0vw;
    
                .menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: auto auto auto 2vw;
                
                    .menuItem {
                        font-family: 'Poppins', sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        flex-direction: column;
                        margin: auto 0vw;
                        margin: .6vw 1.6vw;
                        // padding: .6vw 1.6vw;
                        background: none;
                        color: #363636;
                        color: #a7a6ac;
                        text-decoration: none;
                        transition: .2s;
                    }
    
                    .menuItem:hover {
                        // background: hsl(180, 66%, 49%);
                        color: #363636;
                        transition: .2s;
                    }
    
                    .loginOptions {
                        font-family: 'Poppins', sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        flex-direction: column;
                        margin: auto 0vw;
                        margin: .6vw 1.6vw;
                        text-decoration: none;
                        transition: .2s;
                        background: hsl(180, 66%, 49%);
                        color: #ffffff;
                        border-radius: 18px;
                        padding: .6vw 1.6vw;
                    }
    
                    .loginOptions:hover {
                        background: #9ce2e2;
                        transition: .2s;
                    }
                }
            }
        }
    
        .barsMenu {
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            margin: auto 0vw;
            justify-content: space-between;
            cursor: pointer;
    
            .allBars {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 3px;
                background: #9d9ba6;
                transition: all 600ms;
            }
    
            .lineBar1active {
                rotate: (45deg);
                width: 135%;
                transform-origin: 0px 100%;
                margin-top: -.5px;
            }
    
            .lineBar2active {
                margin-left: -30px;
                opacity: 0;
            }
    
            .lineBar3active {
                rotate: (-45deg);
                transform-origin: 0px 100%;
                margin-left: 1.5px;
                width: 135%;
            }
        }
    }    
}



