.navigation {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: .1vw 3vw;
    justify-content: space-between;
    background: #ffffff; 
    width: 79%;

    .menuContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0vw;
        padding: 0vw;


        .logoContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 2vw 0vw;
            padding: 0vw;
    
            .linkLogo {
                display: flex;
                flex-direction: column;
                margin: auto;
    
                .logoImage {
                    height: 32px;
                }
            }
        }
    }

    .menuItemsContainer {
        // background: red;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .menuOptions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: .4vw 0vw .4vw 0vw;
            padding-left: 1vw;

            .menu {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: auto auto auto 2vw;
            
                .menuItem {
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    margin: auto 0vw;
                    margin: .6vw .5vw;
                    // padding: .6vw 1.6vw;
                    background: none;
                    color: #363636;
                    color: #a7a6ac;
                    text-decoration: none;
                    transition: .2s;
                }

                .menuItem:hover {
                    // background: hsl(180, 66%, 49%);
                    color: #363636;
                    transition: .2s;
                }

                .loginOptions {
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    flex-direction: column;
                    margin: auto 0vw;
                    margin: .6vw 1.6vw;
                    text-decoration: none;
                    transition: .2s;
                    background: hsl(180, 66%, 49%);
                    color: #ffffff;
                    border-radius: 18px;
                    padding: .6vw 1.6vw;
                }

                .loginOptions:hover {
                    background: #9ce2e2;
                    transition: .2s;
                }
            }
        }

        .menuContainerLogin {
            display: flex;
            flex-direction: column;
            margin: auto 0vw;
        }
    }

    .barsMenu {
        display: none;
    }
} 

