@media (max-width: 1080px) {

    .heroContainer {
    
        .infoHero {
    
            .heroTitle {
                font-size: 30px;
            }
    
            .heroInfo {
                font-size: 14px;
            }
    
            .loginOptions {
                font-size: 11px;
                width: 15vw;
            }
        }
    }
}