.heroContainer {
    display: flex;
    margin: 4vw 0vw 10vw 0vw;
    padding: 0vw;
    overflow: hidden;
    justify-content: space-between;

    .infoHero {
        display: flex;
        flex-direction: column;
        margin: auto 4vw auto 10vw;

        .heroTitle {
            font-size: 76px;
            font-weight: 700;
            margin: 0vw;
            padding: 0vw;
            color: #34313c;
            line-height: 1.2;
            letter-spacing: .05vw;
        }

        .heroInfo {
            color: #a09fa4;
            font-size: 22px;
            font-weight: 500;
            margin: 0vw;
            padding: 0vw;
        }

        .loginOptions {
            width: 13vw;
            display: flex;
            justify-content: center;
            padding: 1vw 0vw;
            font-size: 20px;
            font-weight: 600;
            border-radius: 30px;
        }
    }

    .imageHeroContainer {
        display: flex;
        flex-direction: column;
        margin: auto;

        .heroImage {
            height: 34vw;
            margin-right: -8vw;
        }
    }
}