@media (max-width: 550px) {
    .inputURLSection {
        display: flex;
        flex-direction: column;
        background: #f0f1f6;
        margin: auto auto -5vw auto;
    
        .inputURLContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            background: #3a3053;
            background-image: url('../images/bg-shorten-desktop.svg');
            background-size: cover;
            width: 76vw;
            margin: auto;
            margin-top: -5vw;
            border-radius: 3vw;
            padding: 6vw;
            justify-content: space-between;
    
    
            .inputURLShorten {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0vw;
                padding: 0vw;
    
                .inputURL {
                    display: flex;
                    flex-direction: column;
                    margin: 0vw;
                    // margin-right: 2vw;
                    padding: 4.5vw 5vw;
                    height: min-content;
                    font-size: 16.5px;
                    font-weight: 500;
                    width: auto;
                    color: #a09fa4;
                    border-radius: 6px;
                    border: 3px solid #3a3053;
        
                }


        
                // BORDE CUANDO PIDE AGREGAR LINK 
                // .inputURL {
                //     border-color: #f56366;
                // }
        
                // PLACEHOLDER CUANDO DEBES AGREGAR LINK 
                // .inputURL::placeholder {
                //     color: #f56366;
                // }
            
                .buttonURL {
                    background: hsl(180, 66%, 49%);
                    color: #ffffff;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 2.5vw 0vw;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 6px;
                    transition: .2s;
                    cursor: pointer;
                }
            
                .buttonURL:hover {
                    background: #9ce2e2;
                    transition: .2s;
                }
            }
        
            .svgImage {
                width: 100%;
                height: auto;
                position: 0;
                top: 0;
                background: #3a3053;
            }
    
            // NOTIFICACIÓN DE AGREGAR LINK 
            // .notificationLink {
            //     position: absolute;
            //     bottom: 0;
            //     margin-left: .5vw;
            //     margin-bottom: 1vw;
            //     color: #f56366;
            //     font-size: 14px;
            //     font-weight: 300;
            //     font-style: italic;
            //     height: auto;
            // }
        }
    
    
    
        .linksContainer {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            margin: auto;
    
            .shortenedLinksContainer {
                position: relative;
                display: flex;
                flex-direction: row;
                background: #ffffff;
                width: 80vw;
                margin: 2vw auto 0vw auto;
                border-radius: .5vw;
                padding: 1vw 4vw;
                justify-content: space-between;
    
                .linkToShorten {
                    color: #333237;
                    font-size: 16px;
                    font-weight: 500;
                }
    
                .linkResult {
                    display: flex;
                    flex-direction: row;
    
                    .linkShortened {
                        display: flex;
                        flex-direction: column;
                        margin: auto 1vw;
                        color: #2bd1d1;
                        font-size: 16px;
                        font-weight: 500;
                    }
    
                    .copyLink {
                        cursor: pointer;
                        color: #ffffff;
                        background: #2bd1d1;
                        padding: .5vw 1vw;
                        border-radius: .5vw;
                        width: 5vw;
                        display: flex;
                        margin: auto;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 400;
                        transition: .2s;
                    }
    
                    .copyLink:hover {
                        background: #9ce2e2;
                        transition: .2s;
                    }
    
                    .copiedLink {
                        color: #ffffff;
                        background: #3a3053;
                        padding: .5vw 1vw;
                        border-radius: .5vw;
                        width: 5vw;
                        display: flex;
                        margin: auto;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 400;
                        transition: .2s;
                    }
                }
            }
        }
    }    
}