@media (max-width: 550px) {
    .inputURLSection {
        display: flex;
        flex-direction: column;
        background: #f0f1f6;
        margin: auto;
        // margin-top: -100vw;
        padding: 8vw 0vw;
        // padding-top: -10vw;
    
        .inputURLContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            background: #3a3053;
            background-image: url('../images/bg-shorten-desktop.svg');
            background-size: cover;
            width: 76vw;
            margin: auto;
            margin-top: -30vw;
            border-radius: 3vw;
            padding: 6vw;
            justify-content: space-between;
    
    
            // .inputURLShorten {
            //     display: flex;
            //     flex-direction: column;
            //     width: 100%;
            //     margin: 0vw;
            //     padding: 0vw;
    
            //     .inputURL {
            //         display: flex;
            //         flex-direction: column;
            //         margin: 0vw;
            //         // margin-right: 2vw;
            //         padding: 4.5vw 5vw;
            //         height: min-content;
            //         font-size: 16.5px;
            //         font-weight: 500;
            //         width: auto;
            //         color: #a09fa4;
            //         border-radius: 6px;
            //         border: 3px solid #3a3053;
        
            //     }


        
            //     // BORDE CUANDO PIDE AGREGAR LINK 
            //     // .inputURL {
            //     //     border-color: #f56366;
            //     // }
        
            //     // PLACEHOLDER CUANDO DEBES AGREGAR LINK 
            //     // .inputURL::placeholder {
            //     //     color: #f56366;
            //     // }
            
            //     .buttonURL {
            //         background: hsl(180, 66%, 49%);
            //         color: #ffffff;
            //         width: 100%;
            //         display: flex;
            //         justify-content: center;
            //         padding: 2.5vw 0vw;
            //         font-size: 18px;
            //         font-weight: 600;
            //         border-radius: 6px;
            //         transition: .2s;
            //         cursor: pointer;
            //     }
            
            //     .buttonURL:hover {
            //         background: #9ce2e2;
            //         transition: .2s;
            //     }
            // }
















            /////////////////////////////////////////////////////////


            .URLcontainer {
                display: flex;
                flex-direction: column;
                // width: 100%;
    
                .inputURL {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    // margin-left: 0vw;
                    padding: 4vw;
                    height: min-content;
                    font-size: 18px;
                    font-weight: 500;
                    width: 88%;
                    // width: auto;
                    color: #a09fa4;
                    border-radius: 8px;
                    border: 3px solid #3a3053;
        
                }
        
                .inputURL::placeholder {
                    color: #a6a6a8;
                }
        
                // BORDE CUANDO PIDE AGREGAR LINK 
                // .inputURL {
                //     border-color: #f56366;
                // }
        
                // PLACEHOLDER CUANDO DEBES AGREGAR LINK 
                // .inputURL::placeholder {
                //     color: #f56366;
                // }
    
    
                // NOTIFICACIÓN DE AGREGAR LINK 
                .notificationLink {
                    position: relative;
                    // top: 0;
                    // bottom: 0;
                    margin-left: .5vw;
                    // margin-bottom: 1vw;
                    margin-top: 1vw;
                    color: #f56366;
                    font-size: 12px;
                    font-weight: 300;
                    font-style: italic;
                    height: auto;
                }
            }
    
    
            .buttonURL {
                background: hsl(180, 66%, 49%);
                color: #ffffff;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 3vw 0vw;
                margin: 4vw 0vw 0vw 0vw;
                font-size: 20px;
                font-weight: 500;
                border-radius: 8px;
                transition: .2s;
                cursor: pointer;
            }
        
            .buttonURL:hover {
                background: #9ce2e2;
                transition: .2s;
            }


            /////////////////////////////////////////////////////////













        
            // .svgImage {
            //     width: 100%;
            //     height: auto;
            //     position: 0;
            //     top: 0;
            //     background: #3a3053;
            // }
    
            // NOTIFICACIÓN DE AGREGAR LINK 
            // .notificationLink {
            //     position: absolute;
            //     bottom: 0;
            //     margin-left: .5vw;
            //     margin-bottom: 1vw;
            //     color: #f56366;
            //     font-size: 14px;
            //     font-weight: 300;
            //     font-style: italic;
            //     height: auto;
            // }
        }
    
    
    
        .linksContainer {
            display: flex;
            flex-direction: column-reverse;
            width: 90%;
            margin: auto;
    
            .shortenedLinksContainer {
                position: relative;
                display: flex;
                flex-direction: column;
                background: #ffffff;
                width: 98%;
                margin: 7vw auto 0vw auto;
                border-radius: 6px;
                padding: 1vw 0vw;
                justify-content: space-between;
    
                .linkToShorten {
                    display: flex;
                    flex-direction: column;
                    margin: auto 6vw;
                    color: #333237;
                    font-size: 16px;
                    font-weight: 500;

                    padding: 2vw 0vw;
                    width: 100%;
                }
    
                .linkResult {
                    display: flex;
                    flex-direction: column;
                    border-top: 1.5px solid #f0f1f6;
                    width: auto;

    
                    .linkShortened {
                        display: flex;
                        flex-direction: column;
                        margin: 3vw 6vw;
                        color: #2bd1d1;
                        font-size: 16px;
                        font-weight: 500;
                    }
    
                    .copyLink {
                        cursor: pointer;
                        color: #ffffff;
                        background: #2bd1d1;
                        padding: 2vw 0vw;
                        border-radius: 6px;
                        width: auto;
                        display: flex;
                        margin: 2vw 5vw;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 600;
                        transition: .2s;
                    }
    
                    .copyLink:hover {
                        background: #9ce2e2;
                        transition: .2s;
                    }
    
                    .copiedLink {
                        color: #ffffff;
                        background: #3a3053;
                        padding: 2vw 0vw;
                        border-radius: 6px;
                        width: auto;
                        display: flex;
                        margin: 2vw 5vw;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 500;
                        transition: .2s;
                    }
                }
            }
        }
    }    
}