@media (max-width: 1080px) {

    .statisticsContainer{
        padding-top: 14vw;
    
        .statisticsInfoContainer {
    
            .statisticsTitle {
                margin: 1vw auto;
                font-size: 24px;
            }
    
            .statisticsInfo {
                font-size: 13px;
                width: 56vw;
            }
        }
    
        .statisticsTilesContainer {
            margin: 14vw auto;
    
            .statisticsTile {
                width: 27vw;
   
                .titleTile {
                    font-size: 12px;
                }
    
                .infoTile{
                    font-size: 10px;
                }
            }
    
    
            .tileSeparator {
                height: 1vw;
            }
        }
    }
}